ul.leftmenu {
	list-style-type: none;
	float: left;
}
li.leftmenu {
	font-size: 20px;
}
a.leftmenu {
	text-decoration: none; 
	display: block; 
	width: 200px; 
	color: yellow; 
	background-color: blue;
}
a.leftmenu:hover {
	background-color: magenta;
}

.box {
	width: 300px;
	border: 15px solid green;
	padding: 50px;
	margin: 20px;
}